{% extends 'base.html' %}

{% block contenidos %}

    <div class="container">
        <div class="row">
            <form action="{% url 'app:reservar' pk=pk.id %}" method="POST">
                {% csrf_token %}
                <h2>Reserva de Vehículo</h2>
                <p>Modelo: {{pk.modelo}}</p>
                <p>Marca: {{pk.marca}}</p>
                <p>Precio/dia: ${{pk.precio_dia}}</p>
                <p>Año: {{pk.year}}</p>
                {% if extras %}
                <h3>Extras</h3>
                {% for extra in extras %}
                    <p>{{extra.nombre}}</p>
                {% endfor %}
                {% endif %}
                <a href="{% url 'app:principal'%}" class="btn btn-danger">Cancelar</a>
                <input type="submit" class="btn btn-success" value='Resevar'>
            </form>
        </div>
    </div>
{% endblock contenidos %}